nav.navbar {
  border-radius: 0px;
}

.navbar-side-scroll {
  overflow-x: scroll;

  ul.nav {
    display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
    
    li.nav-item {
      display: inline-block;
      float: none;
      &.brand {
        border-right: 1px solid #fff;
        padding-right: 10px;

        img {
          border-radius: 10px;
        }
      }
      a {
        color: #fff;
      }
      &.active {
        border-bottom: 3px solid #fff;
        margin-bottom: -3px;
      }
    }
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 10px;
    line-height: 40px;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    span.fa {
      color: #999999;
      width: 35px;
    }

    &.active {
      span.fa, a {
        color: #fff;
      }
    }
    
    a {
      text-decoration: none;
      color: #999999;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  &> .sidebar-brand {
    height: 54px;
    font-size: 18px;
    line-height: 54px;

    img {
      border-radius: 30px;
    }

    a {
      color: #999999;

      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}
